<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- semantic css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/static/css/itdong-flex.css?ver=<?php echo time();?>">
</head>
<body>
<style type="text/css">
	.bg-ff0000{
		background: #ff0000;
	}
	.bg-00ff00{
		background: #00ff00;
	}
</style>
<div class="itdong-flex-container
	itdong-flex-direction-row
	itdong-justify-content-flex-start
	itdong-align-items-flex-start
	itdong-flex-wrap-nowrap
	itdong-align-content-stretch">
	<div class="itdong-flex-item-100 itdong-align-self-stretch itdong-flex-1" style="overflow-y: scroll;">
		<ol class="ui list">
		  <li>注册</li>
		  <li>用户福利</li>
		  <li>用户类型 <ol>
		      <li>管理员</li>
		      <li>高级用户</li>
		      <li>普通用户</li>
		    </ol>
		  </li>
		  <li>删除您的用户</li>
		</ol>
		<ol class="ui list">
		  <li>注册</li>
		  <li>用户福利</li>
		  <li>用户类型 <ol>
		      <li>管理员</li>
		      <li>高级用户</li>
		      <li>普通用户</li>
		    </ol>
		  </li>
		  <li>删除您的用户</li>
		</ol>
		<ol class="ui list">
		  <li>注册</li>
		  <li>用户福利</li>
		  <li>用户类型 <ol>
		      <li>管理员</li>
		      <li>高级用户</li>
		      <li>普通用户</li>
		    </ol>
		  </li>
		  <li>删除您的用户</li>
		</ol>
		<ol class="ui list">
		  <li>注册</li>
		  <li>用户福利</li>
		  <li>用户类型 <ol>
		      <li>管理员</li>
		      <li>高级用户</li>
		      <li>普通用户</li>
		    </ol>
		  </li>
		  <li>删除您的用户</li>
		</ol>
		<ol class="ui list">
		  <li>注册</li>
		  <li>用户福利</li>
		  <li>用户类型 <ol>
		      <li>管理员</li>
		      <li>高级用户</li>
		      <li>普通用户</li>
		    </ol>
		  </li>
		  <li>删除您的用户</li>
		</ol>
	</div>
	<div class="itdong-flex-item-100 itdong-align-self-stretch itdong-flex-5">
		
	</div>
</div>
<!-- jquery js -->
<script src="__ROOT__/static/js/jquery-3.3.1.js"></script>
<!-- semantic js -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
</body>
</html>